
<%= form_with model: @accounts, url: "/authors/account_create"  do |form| %>


<div>
  <%= form.label :supplier %><br>
  <%= form.select :supplier_id, options_for_select(Supplier.all.map{|b| [b.name, b.id]}) %><br>
  <% @accounts.errors.full_messages_for(:supplier_id).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

<div>
    <%= form.label :account_number %><br>
    <%= form.text_field :account_number %>
    <% @accounts.errors.full_messages_for(:account_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>